{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/users/login.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Cashflow - Login{% endblock %}

{% block main %}

<form id="loginForm" class="container" method="POST">
    <h1>
        Log In
    </h1>
    <p>
        You can log in to save and look up your recent gameplays.
    </p>
    <ul>
        <li>
            <input type="email" name="email" id="email" placeholder="Email" required>
        </li>
        <li>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </li>
    </ul>
    <input type="submit" value="Log In" class="submit">
</form>

{% endblock %}