{% extends 'base.html' %}

{% block jslink %}<script defer src="{{ url_for('static', filename='js/users/signup.js') }}"></script>{% endblock %}

{% block csslink %}<link href="{{ url_for('static', filename='css/users/signup.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Cashflow - Sign Up{% endblock %}

{% block main %}

<form id="signupForm" class="container" method="POST">
    <h1>
        Sign Up
    </h1>
    <p>
        You can sign up to save and look up your recent gameplays.
    </p>
    <ul>
        <li>
            <input type="text" name="email" id="email" placeholder="Email" required>
        </li>
        <li>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </li>
        <li>
            <input type="password" name="password_confirmation" id="pw_confirm" placeholder="Confirm Password" required>
        </li>
    </ul>
    <button type="submit" id="submitButton" name="submit" class="button">Sign Up</button>
    <p>
        Already have an account? <a href="{{ url_for('users.get_login') }}">Login</a>.
    </p>
    {% if error %}
        <p class="generatedErrors">{{ error }}</p>
    {% endif %}
</form>

{% endblock %}