{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/jobs/job_dynamic.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Playing the game{% endblock %}

{% block main %}

<div class="content">
    <section class="content_head">
        <h1>
            <span id="your_profession">
                YOUR PROFESSION IS
            </span>
            <span id="profession">
                {{ job.name.upper() }}
            </span>
            <p id="goal">
                Goal: Build your <strong>Passive Income</strong> to be greater than your <strong>Total Expenses</strong>.
            </p>
        </h1>
    </section>

    <section class="content_body">
        
        

        <div id="income_statement">
            <h2 id="income_statment_heading">
                INCOME STATEMENT
            </h2>
            <div id="income">
                <h3 class="after_h2">
                    Income
                </h3>
                    
                <div class="line">
                    <span class="letters">
                        Salary
                    </span>
                    <span class="numbers">
                        {{ job.salary }} $
                    </span> 
                </div>
                
                <div class="line">
                    <span class="letters">
                        Cashflow
                    </span>
                    <span class="numbers">
                        {{ job.cashflow }} $
                    </span> 
                </div>
            </div>
            <div id="expenses">
                <h3>
                    Expenses
                </h3>
                
                <div class="line">
                    <span class="letters">
                        Taxes
                    </span>
                    <span class="numbers">
                        {{ job.tax }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        Home Mortgage Payment
                    </span>
                    <span class="numbers">
                        {{ job.home_mortgage_payment }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        School Loan Payment
                    </span>
                    <span class="numbers">
                        {{ job.school_loan_payment }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        Car Loan Payment
                    </span>
                    <span class="numbers">
                        {{ job.car_loan_payment }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        Credit Card Payment
                    </span>
                    <span class="numbers">
                        {{ job.credit_card_payment }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        Other
                    </span>
                    <span class="numbers">
                        {{ job.other_expenses }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        Bank Loan Payment
                    </span>
                    <span class="numbers">
                        {{ job.bank_loan_payment }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        Expenses of {{ job.children }} Children
                    </span>
                    <span class="numbers">
                        {{ job.children_expenses }} 
                    </span> 
                </div>

            </div>
        </div>

        <div id="balance_sheet">
            <h2 id="balance_sheet_heading">
                BALANCE SHEET
            </h2>
            <div id="assets">
                <h3 class="after_h2">
                    Assets
                </h3>
                    
                <div class="line">
                    <span class="letters">
                        Savings
                    </span>
                    <span class="numbers">
                        {{ job.savings }} $
                    </span> 
                </div>
                    
            </div>
            <div id="liabilities">
                <h3>
                    Liabilities
                </h3>
                    
                <div class="line">
                    <span class="letters">
                        Home Mortgage
                    </span>
                    <span class="numbers">
                        {{ job.home_mortgage }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        School Loans
                    </span>
                    <span class="numbers">
                        {{ job.school_loans }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        Car Loans
                    </span>
                    <span class="numbers">
                        {{ job.car_loans }} $
                    </span> 
                </div>

                <div class="line">
                    <span class="letters">
                        Credit Card Debt
                    </span>
                    <span class="numbers">
                        {{ job.credit_card_debt }} $
                    </span> 
                </div>

            </div>
        </div>

        <div id="calc">
            <div class="num_box thin">
                {{ job.salary }}
            </div>
            <div class="num_box thick">
                {{ job.cashflow }}
            </div>
            <div class="num_box thin">
                {{ job.salary + job.cashflow }} <!-- calc all income !! -->
            </div>
            <div class="num_box thick">
                {{ job.tax }} <!-- calc all expenses !! -->
            </div>
            <div class="num_box dotted">
                {{ job.payday }}
            </div>
            <span id="monthly_text">
                Monthly PayDay
            </span>
        </div>

    </section>
    
</div>
    
{% endblock %}