{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/jobs/job_dynamic.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Playing the game{% endblock %}

{% block main %}

<div class="content">
    <section class="content_head">
        <h1>
            <span id="your_profession">
                YOUR PROFESSION IS
            </span>
            <span id="profession">
                {{ job_dict["Name"].upper() }}
            </span>
            <p id="goal">
                Goal: Build your <strong>Passive Income</strong> to be greater than your <strong>Total Expenses</strong>.
            </p>
        </h1>
    </section>

    <section class="content_body">
        
        

        <div id="income_statement">
            <h2 id="income_statment_heading">
                INCOME STATEMENT
            </h2>
            <div id="income">
                <h3 class="after_h2">
                    Income
                </h3>
                    {% for key in job_keys_list[1:2] %}
                        <div class="line">
                            <span class="letters">
                                {{ key }}
                            </span>
                            <span class="numbers">
                                {{ job_dict[key] }} $
                            </span> 
                        </div>
                    {% endfor %}
            </div>
            <div id="expenses">
                <h3>
                    Expenses
                </h3>
                    {% for key in job_keys_list[2:11] %}
                        <div class="line">
                            <span class="letters">
                                {{ key }}
                            </span>
                            <span class="numbers">
                                {{ job_dict[key] }} $
                            </span> 
                        </div>
                    {% endfor %}
            </div>
        </div>

        <div id="balance_sheet">
            <h2 id="balance_sheet_heading">
                BALANCE SHEET
            </h2>
            <div id="assets">
                <h3 class="after_h2">
                    Assets
                </h3>
                    {% for key in job_keys_list[11:12] %}
                        <div class="line">
                            <span class="letters">
                                {{ key }}
                            </span>
                            <span class="numbers">
                                {{ job_dict[key] }} $
                            </span> 
                        </div>
                    {% endfor %}
            </div>
            <div id="liabilities">
                <h3>
                    Liabilities
                </h3>
                    {% for key in job_keys_list[12:] %}
                        <div class="line">
                            <span class="letters">
                                {{ key }}
                            </span>
                            <span class="numbers">
                                {{ job_dict[key] }} $
                            </span> 
                        </div>
                    {% endfor %}
            </div>
        </div>

        <div id="calc">
            <div class="num_box thin">
                {{ job_dict["salary"] }}
            </div>
            <div class="num_box thick">
                {{ job_dict["cashflow"] }}
            </div>
            <div class="num_box thin">
                {{ job_dict["salary"] }} <!-- calc all income !! -->
            </div>
            <div class="num_box thick">
                {{ job_dict["tax"] }} <!-- calc all expenses !! -->
            </div>
            <div class="num_box dotted">
                {{ job_dict["payday"] }}
            </div>
            <span id="monthly_text">
                Monthly Cash Flow
            </span>
        </div>

    </section>
    
</div>
    
{% endblock %}