{% extends 'base.html' %}

{% block csslink %}<link rel="stylesheet" href="{{ url_for('static', filename='css/simple_pages/faq.css') }}">{% endblock %}

{% block title %}Cashflow - F.A.Q.{% endblock %}

{% block main %}

<h1>
    Frequently Asked Questions
</h1>
<section>
    <h2>
        About the board game
    </h2>
    
    <details class="q_a">
        <summary class="ques">
            What is the game about?
        </summary>
        <hr class="in_details">
        <p class="ans">
            The board game Cashflow by the Richdad Company was designed and developed by Rober Kiyosaki, investor and author of the book "Rich Dad, Poor Dad", which teaches you the basics of how the rich handle their money and how you can do that too.
        </p>
        <p class="ans">
            This game was designed to teach you the same things as the book; the essentials of how to escape the rat race of trading your time against a small amount of money. It can be seen as a more advanced and more financial equivalent to "Monopoly". But instead of only houses, you can buy all kinds assets & liabilities and take out or pay off loans. 
        </p>    
    </details>

    <details class="q_a">
        <summary class="ques">
            What is the goal of the game?
        </summary>
        <hr class="in_details">
        <p class="ans">
            Your goal is to get your <strong>passive income</strong> (called "Cashflow" in the game) <strong>higher than your expenses</strong>.
        </p>
        <p class="ans">
            You might think that the best paying profession is the most likely to win the game but remember one thing: the higher your income, the more likely it is that you spend more. You may have a high income, but you also need more Cashflow to work against your high expenses.
        </p>
    </details>

    <details class="q_a">
        <summary class="ques">
            How does the game start?
        </summary>
        <hr class="in_details">
        <p class="ans">
            You setup the game by doing two things:
        </p>
        <p class="ans">
            First, you pick a random profession which will be assigned to you. It sets you off with a specific salary, expenses, and loans.
        </p>
        <p class="ans">
            Second, you write down your life dream (your "Why am I doing this?". This is pretty much unimportant for the game but it is a good practice for real life, you should always have a dream / goal / purpose. "No matter what you do in life, you got to have a purpose!" ~ Arnold Schwarzenegger)
        </p>
    </details>

    <details class="q_a">
        <summary class="ques">
            Where can I find the rules? 
        </summary>
        <hr class="in_details">
        <p class="ans">
            Click here to find all rules: 
            <a id="rulesLink" href="{{ url_for('simple_pages.download_rules') }}">Download rules</a>
        </p>
    </details>

    <details class="q_a">
        <summary class="ques">
            What are professions? 
            <a id="link" class="button" href="{{ url_for('professions.professions') }}">Show all professions</a>
        </summary>
        <hr class="in_details">
        <p class="ans">
            You can see your profession as your 9 - 5 job. They define how high your salary, your taxes, and your basic expense are. 
        </p>
        <p class="ans">
            Because the amount and size of loans you can afford is mostly determined by your income, they will initially also be defined by your profession.
        </p>
    </details>

    <details class="q_a">
        <summary class="ques">
            How many players can play at the same time?
        </summary>
        <hr class="in_details">
        <p class="ans">
            There can be between <strong>2 and 6 players</strong>.
        </p>
    </details>

    <details class="q_a">
        <summary class="ques">
            How long does one game take?
        </summary>
        <hr class="in_details">
        <p class="ans">
            Usually about <strong>120 minutes</strong>.
        </p>
    </details>

    <details class="q_a">
        <summary class="ques">
            How old do I have to be to get this game?
        </summary>
        <hr class="in_details">
        <p class="ans">
            We recommend to be <strong>older than 10</strong>.
        </p>
    </details>

</section>

<section>
    <h2>
        About this page
    </h2>

    <details class="q_a">
        <summary class="ques">
            Why does this page exist?
        </summary>
        <hr class="in_details">
        <p class="ans">
            Although the board game is very good for teaching you what Cashflow is, you will encounter the problem of annoying calculations.
            Because the game is about income and expenses, assets and liabilities, and the interaction of these, it forces you <strong>to do calculations all the time</strong>.
        </p>
        <p class="ans">
            You could do them all by hand, but that will increase the time spent playing this game and decrease the game fun.
        </p>
        <p class="ans">
            This page calculates and tracks all of the tideous stuff for you. You just need to press some buttons to let the page know what the progress of the game is.
        </p>
    </details>

    <details class="q_a">
        <summary class="ques">
            How do I use this page?
        </summary>
        <hr class="in_details">
        <p class="ans">
            It is pretty easy. If you want to go to the landing page, just click on the "Cashflow Companion" logo at the top left. 
        </p>
        <p class="ans">
            If you want to start a game, press start playing on the landing page or in the navigation bar.
        </p>
        <p class="ans">
            If you want to log in to save your games, click the account button at the top right.
        </p>
    </details>

    <details class="q_a">
        <summary class="ques">
            How can I save my games?
        </summary>
        <hr class="in_details">
        <p class="ans">
            You can save the game by clicking "Save to my profile" at the end of the game. If you are not logged in by this point, you will be forced to log in or create a new account.
        </p>
        <p>
            You can log in, sign up or see your account information by clicking the account button at the top right.
        </p>
    </details>

    <details class="q_a">
        <summary class="ques">
            How can I play with others?
        </summary>
        <hr class="in_details">
        <p class="ans">
            This feature is not available yet. Everyone of you has to use their own laptop / PC / mobile phone / tablet.
        </p>
    </details>

</section>


{% endblock %}