{% extends 'base.html' %}

{% block csslink %}<link rel="stylesheet" href="{{ url_for('static', filename='css/simple_pages/faq.css') }}">{% endblock %}

{% block title %}Cashflow - F.A.Q.{% endblock %}

{% block main %}

<h1>
    Frequently Asked Questions
</h1>

<section>
    <h2>
        About the board game
    </h2>
    
    <div class="q_a">
        <h4 class="ques">
            What is the game about?
        </h4>
        <p class="ans">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>

    <div class="q_a">
        <h4 class="ques">
            What is the goal of the game?
        </h4>
        <p class="ans">
            Your goal is to get your passive income (also called "Cashflow") higher than your expenses.
            You might think that the best paying profession is the most liekly to win the game but remember one thing: the higher your income, the more likely it is that you spend more. You may have a high income, but you also need more Cashflow to work against your expenses. 
        </p>
    </div>

    <div class="q_a">
        <h4 class="ques">
           How does the game start?
        </h4>
        <p class="ans">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>

    <div class="q_a">
        <h4 class="ques">
            Where can I find the rules? 
        </h4>
        <p class="ans">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
    
    <div class="q_a">
        <h4 class="ques">
            What professions are there? 
        </h4>
        <p class="ans">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

            <a href="/professions">Show more</a>

        </p>
    </div>

</section>

<section>
    <h2>
        About this page
    </h2>

    <div class="q_a">
        <h4 class="ques">
            Why does this page exist?
        </h4>
        <p class="ans">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>

    <div class="q_a">
        <h4 class="ques">
            How do I use this page?
        </h4>
        <p class="ans">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>

    <div class="q_a">
        <h4 class="ques">
            How can I save my games?
        </h4>
        <p class="ans">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>

    <div class="q_a">
        <h4 class="ques">
            How can I play with others?
        </h4>
        <p class="ans">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>

</section>


{% endblock %}