{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/simple_pages/login.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Cashflow - Login{% endblock %}

{% block main %}

<form class="container">
    <h1>
        Log In
    </h1>
    <p>
        You can log in to save and look up your recent gameplays.
    </p>
    <ul>
        <li>
            <input type="email" name="email" placeholder="Username">
        </li>
        <li>
            <input type="password" name="password" placeholder="Password">
        </li>
    </ul>
    <input type="submit" value="Log In" class="submit">
</form>

{% endblock %}