{% extends 'base.html' %}

{% block jslink %}<script defer src="{{ url_for('static', filename='script/simple_pages/signup.js') }}"></script>{% endblock %}

{% block csslink %}<link href="{{ url_for('static', filename='css/simple_pages/signup.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Cashflow - Sign Up{% endblock %}

{% block main %}

<form id="signupForm" class="container" method="POST" action="/account">
    <h1>
        Sign Up
    </h1>
    <p>
        You can sign up to save and look up your recent gameplays.
    </p>
    <ul>
        <li>
            <input type="text" name="email" id="email" placeholder="Email"/>
        </li>
        <li>
            <input type="password" name="password" id="password" placeholder="Password"/>
        </li>
    </ul>
    <button type="submit" id="submitButton" name="submit" class="submit">Sign Up</button>
    {% if error %}
        <p style="color: tomato;">{{ error }}</p>
    {% endif %}
    <p id="error"></p>
</form>

{% endblock %}