main {
    color: black;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

div.content{
    border: 2px solid black;
    flex-basis: 700px;
}



/* --- Content Head --- */

.content_head {
    height: 10rem;
    padding: 20px 30px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

h1 {
    margin: 0;
}

span#profession{
    display: block;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
}

#goal {
    margin: 0;
    font-size: 1rem;
}


/* --- Content Body --- */

.content_body {
    width: calc(100% - 50px);
    padding: 20px;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "is calc"
        "bs bs";
    gap: 20px;
}

#income_statement {
    grid-area: is;
}

#balance_sheet {
    grid-area: bs;
}

h2 {
    margin: 0;
}

h3 {
    margin: 20px auto;
    border-radius: 50px;
    padding: 5px 20px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 1.3rem;
}

.after_h2 {
    margin: 5px auto;
    margin-bottom: 20px;
}

.line {
    width: 100%;
    margin: 5px 0;
    border-bottom: 1px solid black;
}

.numbers {
    float: right;
}



#calc {
    grid-area: calc;
    margin: 0;
    border: 2px solid black;
    padding: 30px 20px 30px 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.num_box {
    text-align: center;
    border: 2px solid black;
    padding: 10px 15px ;
    width: 80px;
}

.thin {
    border: 1px solid black;
}