body {
    min-width: 320px;
}

header {
    min-width: 320px;
}

main {
    color: black;
    height: calc(100vh - 100px);
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 1rem; */
}

div.content{
    border: 2px solid black;
    flex-basis: 1200px;
}



/* --- Content Head --- */

.content_head {
    height: 10rem;
    padding: 20px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

h1 {
    margin: 0;
}

span#profession{
    display: block;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
}

#goal {
    margin: 0;
    font-size: 1rem;
}


/* --- Content Body --- */

.content_body {
    width: calc(100% - 40px);
    padding: 20px;
    /* font-size: 1rem; */
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
        "is bs calc";
    gap: 20px;
}

#income_statement {
    grid-area: is;
}

#balance_sheet {
    grid-area: bs;
}

h2 {
    margin: 0;
}

h3 {
    margin: 1.25rem auto;
    border-radius: 50px;
    padding: 5px 20px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 1.3rem;
}

.after_h2 {
    margin: 5px auto;
    margin-bottom: 1.25rem;
}

.line {
    width: 100%;
    margin: 5px 0;
    border-bottom: 1px solid black;
}

.numbers {
    float: right;
}



#calc {
    grid-area: calc;
    margin: 0;
    border: 2px solid black;
    padding: 30px 20px 30px 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.num_box {
    text-align: center;
    border: 2px solid black;
    padding: 10px 15px ;
    width: 80px;
}

.thin {
    border: 1px solid black;
}


@media (max-width:2000px) {
    html {
        font-size: 1rem;
    }
}

@media (max-width:950px) {
    html {
        font-size: 0.8rem;
    }

    .content_body {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "is calc"
            "bs bs";
    }
}

@media (max-width: 700px) {
    main {
        height: calc(100vh - 80px);
    }
}

@media (max-width:560px) {
    main {
        height: auto;
        padding: 20px 10vw;
    }
    .content_body {
        width: calc(100% - 40px);
        grid-template-columns: 1fr;
        grid-template-areas:
            "is"
            "bs"
            "calc";
        gap: 10px;
    }

    #calc {
        height: 250px;
    }
}

@media (max-width:320px) {
    html {
        font-size: 0.7rem;
    }

    main {
        padding: 0;
    }
}