:root {
    --c1: rgb(40, 40, 40);
    --c2: rgb(100, 15, 100);
    --c3: rgb(112, 67, 133);
    --c4: rgb(250, 190, 0);
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: white;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    width: 100vw;
}

.button {
    display: inline-block;
    max-height: 40px;
    border-radius: 18px;
    padding: 9px 15px;
    background: var(--c4);
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background: var(--c2);
    border: 1px solid white;
    padding: 8px 14px;
}

img {
    display: block; /* to remove the 4px below the img */
}


/* Header and everything inside: */

header {
    /* min-height: 100px; */
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--c1);
}

nav {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:flex-start;
    height: inherit;
    padding: 20px;
}

nav > * {
    margin: 0 10px;
}

img#logo {
    max-height: 70px;
}

#placeholder {
    margin: 0;
    flex: 1 1 0px;
}

img#profile {
    max-height: 42px;
}

@media (max-width:700px) {
    img#logo {
        max-height: 50px;
    }

    .button#faq {
        display: none;
    }
}

@media (max-width:560px) {
    .button#signup {
        display: none;
    }
}

@media (max-width: 470px) {
    .button#login {
        display: none;
    }
}

@media (max-width: 400px) {
    .button#buygame {
        display: none;
    }
}