@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    --clr-black: rgb(0, 0, 0);
    --clr-purple-dark: rgb(100, 15, 100);
    --clr-purple-light: rgb(112, 67, 133);
    --clr-yellow: rgb(250, 190, 0);
    --clr-white: rgb(255, 255, 255); 

    --shadow-black: 0 5px 15px 0 rgba(0, 0, 0, 0.4);

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body {
    margin: 0;
    width: 100vw;
}

main {
    padding: 20px;
}

a {
    color: black;

    text-align: center;
    text-decoration: underline;
    letter-spacing: 0.1em;

    cursor: pointer;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 11px 17px;
    border: 1px solid black;
    /* background: white; */
    color: black;

    text-align: center;
    font-family: inherit;
    font-size: 1.25em;
    text-decoration: none;
    letter-spacing: 0.1em;

    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

img {
    display: block; /* to remove the 4px below the img */
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 20px;
    padding: 0;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 15px;
}

p {
    margin: 20px auto;
}

.generatedErrors {
    color: tomato;
    text-align: center;
}

.flashed {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 200;
    padding: 15px 20px;
    border-left: 5px solid green;
    box-shadow: var(--shadow-black);
    transition: all .5s ease-in-out;;
}


/* Header and everything inside: */

header {
    height: 140px;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
}

nav {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

nav > * {
    margin: 0 10px;
}

#logo {
    aspect-ratio: 4096 / 594; 
    height: 80px;
    background-image: url("../images/cf-logo-black.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#placeholder {
    margin: 0;
    flex: 1 1 0px;
}

#profilePic {
    aspect-ratio: 562 / 562; 
    height: 42px;
    background-image: url("../images/user-black.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.navBtn {
    border: none;
}

.navBtn:hover {
    background: initial;
    color: black;
    text-decoration: underline;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 30px;
}

.dropdown:hover {
    cursor: pointer;
    box-shadow: inset var(--shadow-black);
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1px;
    box-shadow: var(--shadow-black);
    z-index: 1;
    top: 42px;
    right: 0;
}

.dropdown-content > a {
    min-width: 160px;
}

.dropdown:hover > .dropdown-content {
    display: block;
    background-color: white;
}

#profLink {
    display: block;
    height: 100%;
    width: 100%;
}


/* Footer and everything inside: */

footer {
    height: 80px;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;

    position: relative;
}

#legal {
    display: inline-block;
    height: max-content;
    width: max-content;

    position: absolute;
    inset: 0;
    margin: auto;
}

.legalLink {
    margin: 0 10px;
}


/* Media Queries  */

@media (prefers-color-scheme: light) {

    :root {
        background-color: white;
    }

}

@media (prefers-color-scheme: dark) {
    a {
        color: white;
    }

    .button {
        border: 1px solid white;
        background-color: inherit;
        color: white;
    
        text-align: center;
        font-family: inherit;
        font-size: 1.25em;
        text-decoration: none;
        letter-spacing: 0.1em;
    
        cursor: pointer;
    }

    .button:hover {
        background-color: white;
        color: black;
    }

    .navBtn {
        border: none;
    }

    .navBtn:hover {
        background-color: initial;
        color: white;
    }

    .dropdown:hover > .dropdown-content {
        display: block;
        background-color: black;
    }

    #logo {
        background-image: url("../images/cf-logo-white.png");
    }

    #profilePic {
        background-image: url("../images/user-white.png");
    }
}





@media (max-width:700px) {
    img#logo {
        max-height: 50px;
    }

    .button#faq {
        display: none;
    }
}

@media (max-width:560px) {
    .button#signup {
        display: none;
    }
}

@media (max-width: 470px) {
    .button#login {
        display: none;
    }
}

@media (max-width: 400px) {
    .button#buygame {
        display: none;
    }
}