* {
    margin: 0;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 2rem;
}

h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.4rem;
}

h3 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.2rem;
}

p {
    margin: 30px auto;
    font-weight: 400;
    color: rgb(154, 154, 154);
}

#accountForm {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--c2);
    border-radius: 10px;
    text-align: left;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 30px;
}

li {
    flex: 1 1 300px;
}

input {
    margin-top: 10px;
}

#buttons { 
    align-self: center;
    display: flex;
}

#deleteBtn {
    flex-shrink: 0;
    margin-right: 10px;
    border: 1px solid red;
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

#deleteBtn:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    text-decoration: none;
}

#submitBtn {
    margin: 0;
}

#delInfo {
    margin: 0 auto;
}
