* {
    margin: 0;
}

main {
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column wrap;
}

h1 {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 2rem;
}

h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.4rem;
}

h3 {
    font-weight: 400;
    font-size: 1.2rem;
}

p {
    margin: 1.5rem 0;
    font-weight: 400;
    color: rgb(154, 154, 154);
}

#accountForm {
    box-sizing: border-box;
    width: 100%;
    padding: var(--outer-distance);

    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
}

ul {
    padding: 0;
    list-style: none;

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 1.8rem;
}

li {
    flex: 1 1 18rem;
}

input {
    margin-top: 10px;
}

#buttons { 
    align-self: flex-end;
    flex: 2 1 18rem;
    min-width: fit-content;

    display: flex;
}

#deleteBtn {
    flex-shrink: 0;
    margin-right: 10px;
    border: 1px solid red;
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

#deleteBtn:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    text-decoration: none;
}

#submitBtn {
    margin: 0;
}

#delInfo {
    margin: 0 auto;
    margin-top: var(--outer-distance);

    display: block;
    text-align: center;
}

/* --------- Media Queries ----------  */

/* Dark / Light mode */

@media (prefers-color-scheme: light) {
   
    #accountForm {
        border-color: var(--bg-dark);
    }


}


/* Responsive  */

@media (max-width: 455px) {

    #buttons {
        flex-flow: row wrap;
    }

    #deleteBtn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

}

