* {
    margin: 0;
}

main {
    max-width: 900px;
    margin: 0 auto;
    height: calc(100vh - 140px - 2px - 60px - 2px - 80px);
    padding: 30px 40px;
    
}

#accountForm {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--c2);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: left;
}

p {
    margin: 25px 0;
}

ul {
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}

li {
    padding: 5px 0;
}

#deleteBtn {
    border: 1px solid red;
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

#deleteBtn:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    text-decoration: none;
}

.generatedErrors {
    color: tomato;
}