* {
    margin: 0;
}

main {
    height: calc(100vh - 100px - 30px - 30px);
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    border: 2px solid var(--clr-secondary);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
}

p {
    margin: 25px 0;
}

ul {
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}

li {
    padding: 5px 0;
}

.submit {
    max-height: 40px;
    width: 192px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: var(--clr-secondary);
    color: white;
    text-align: center;
    text-decoration: none;
}

