* {
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    border: 2px solid var(--c2);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
}

ul {
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}

li {
    padding: 5px 0;
}
