* {
    margin: 0;
}

main {
    height: calc(100vh - 140px - 2px - 40px - 2px - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    border: 2px solid var(--c2);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    padding-bottom: 10px;
}
