/* Main and everything inside: */

#mainContent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.main_flex_item {
    flex-basis: calc(100% / 12 * 6);
}

/* Text */

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#main_heading {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 500;
}

.content {
    width:70%;
}

#startBtn {
    margin-top: 30px;
}



/* Photo */

.right {
    max-width: 50%;
}

/* Columns */

.columns {
    padding: 20px 0;

    display: flex;
    flex-flow: row wrap;
}

.columns > section {
    flex: 1 1 140px;
    margin: 40px;
    text-align: center;
}

h3 {
    margin: 0;
    display: inline;
}



/* Responsive  */

@media (max-width:1250px) {

    main {
        font-size: 0.8rem;
    }

    #startBtn {
        margin-top: 20px;
    }
}

@media (max-width: 1055px) {

    #main_heading {
        margin-bottom: 20px; 
    }

    #main_text > * {
        margin: 10px auto;
    }

}

@media (max-width: 775px) {
    
    .main_flex_item {
        flex-basis: 100%;
    }

    .left {
        height: 340px;
    }

    .right {
        max-width: 100%;
        object-fit: cover;
        aspect-ratio: 3 / 1;
    }
    
}

@media (max-width: 515px) {
    
    main {
        font-size: 0.7rem;
    }

    .left {
        height: 250px;
    }
    
    .content {
        width:90%;
    }

    .columns > section {
        margin: 20px;
    }

}
