/* Main and everything inside: */

.main_section {
    margin: 0 4rem;
}

.section_1 {
    margin: 1rem 4rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}

/* Text */

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    flex-basis: 50%;
    margin: 3rem 0;
}

#main_heading {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 5em;
    font-weight: 600;
}

#main_text {
    font-size: 1.3em;
}

p {
    margin: 10px auto;
}

#startBtn {
    margin-top: 30px;
}



/* Photo */

.right {
    max-width: 40%;
    max-height: 650px;
    flex-basis: 50%;
    margin: 0 auto;
}

/* Columns */

.section_2 {
    margin: 20px 0;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
}

.section_2 > section {
    flex: 1 1 200px;
    margin: 40px;
    text-align: center;
}

h3 {
    margin: 0;
    display: inline;
}



/* Responsive  */

@media (max-width:1290px) {

    #main_heading {
        font-size: 4em;
    }

    #startBtn {
        margin-top: 20px;
    }
}

@media (max-width: 1065px) {

    .section_1 {
        flex-flow: column-reverse nowrap;
    }

    #main_heading {
        margin-bottom: 20px; 
    }

    #main_text > * {
        margin: 10px auto;
    }

    .left {
        flex-basis: 100%;
    }

    .right {
        max-height: 300px;
        aspect-ratio: 1108 / 1468;
        object-fit: cover;
    }
}

@media (max-width: 775px) {
    
    

    .left {
        height: 340px;
    }

    .right {
        max-width: 100%;
    }
    
}

@media (max-width: 625px) {
    
    main {
        font-size: 1rem;
    }

    .section_1 {
        margin: 0;
    }

    .left {
        height: 250px;
    }
    
    .content {
        width:100%;
    }

    .right {
        max-height: 200px;
    }

    .section_2 > section {
        margin: 20px;
    }

}

@media (max-width: 430px) {
    
    .right {
        margin: 2em 0;
    }

    .left {
        margin: 0;
    }
    
    .content {
        text-align: center;
    }

    .section_2 {
        margin: 2em 0;
    }
}
