* {
    margin: 0;
}

main {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    max-width: 31.25rem;
}

h1 {
    margin: 1.25rem auto;
    text-align: center;
}

p {
    text-align: center;
    margin: 1.25rem auto;
}

.professions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;

    min-height: 6.25rem;
    margin: 1.25rem auto;
    padding: 0;

    text-align: center;
    list-style-type: none;
    line-height: 1.5;
}

li {
    margin: 0.625rem;
}

#holdButtons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;    
}

.button#prev, .button#next {
    display: inline-block;
    width: 11.25rem;
    padding: 1rem 10px;

    color: white;
    background: var(--clr-yellow);

    font-size: 1rem;
    text-align: center;
}

.button#prev:hover, .button#next:hover {
    color: black;
    background: white;
}

.button#prev.disabled, .button#next.disabled {
    background: rgb(255, 219, 121);
    color: rgb(189, 189, 189);
}

.button#prev {
    margin-right: auto;
}

.button#next {
    margin-left: auto;
}

@media (prefers-color-scheme: light) {

    .button#prev:hover, .button#next:hover {
        color: white;
        background: black;
    }

    .button#prev:hover.disabled, .button#next:hover.disabled {
        background: rgb(255, 219, 121);
        color: rgb(189, 189, 189);
    }

}

@media (max-width: 550px) {
    
    main {
        font-size: 1rem;
    }
    
}

@media (max-width: 420px) {
    
    .button#prev, .button#next {
        display: inline-block;
        width: 10rem;
    }
    
}

@media (max-width: 365px) {
    
    #holdButtons {
        flex-wrap: wrap;
    }
    
    span {
        width: 100%;
    }

}