{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/professions/choose_profession.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Plaing the game{% endblock %}

{% block main %}

    <section>
        <h1>
            JOBS / PROFESSIONS
        </h1>
        <p>
            Every profession starts off with different conditions. Click a profession to have a detailed look at its income statement and balance sheet.
        </p>
        <p>
            Your goal is to get your passive income (also called "Cashflow") higher than your expenses.
            You might think that the best paying profession is the most liekly to win the game but remember one thing: the higher your income, the more likely it is that you spend more. You may have a high income, but you also need more Cashflow to work against your expenses. 
        </p>
        <p>
            Choose wisely.
        </p>

        <ol class="professions">
            {% for profession in all_professions %}
            <li>
                <a href="/professions/{{ profession.slug }}">
                    {{ profession.name }}
                </a>
            </li>
            {% endfor %}
        </ol>
    </section>

    

{% endblock %}