{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/professions/professions.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Cashflow - Overview Professions{% endblock %}

{% block main %}

    <section>
        <h1>
            PROFESSIONS
        </h1>
        <p>
            Every profession starts off with different conditions.
        </p>
        <p>
            Click a profession to have a detailed look at its income statement and balance sheet.
        </p>
        <ol class="professions">
            {% for profession in profs_pagination.items %}
            <li>
                <a href="/professions/{{ profession.slug }}">
                    {{ profession.name }}
                </a>
            </li>
            {% endfor %}
        </ol>
        <p id="holdButtons">
            {% if profs_pagination.prev_num %}
                <a href="{{ url_for('professions.professions', page=profs_pagination.prev_num ) }}" class="button" id="prev">
                    Previous Page
                </a>
            {% else %}
                <span class="button disabled" id="prev">
                    Previous Page
                </span>
            {% endif %}

            <span>{{ profs_pagination.page }}/{{ profs_pagination.pages }}</span>

            {% if profs_pagination.next_num %}
                <a href="{{ url_for('professions.professions', page=profs_pagination.next_num ) }}" class="button" id="next">
                    Next Page
                </a>
            {% else %}
                <span class="button disabled" id="next">
                    Next Page
                </span>
            {% endif %}
        </p>
    </section>

    

{% endblock %}