{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/professions/professions.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Plaing the game{% endblock %}

{% block main %}

    <section>
        <h1>
            JOBS / PROFESSIONS
        </h1>
        <p>
            Every profession starts off with different conditions.
        </p>
        <p>
            Click a profession to have a detailed look at its income statement and balance sheet.
        </p>
        <ol class="professions">
            {% for profession in all_professions %}
            <li>
                <a href="/professions/{{ profession.slug }}">
                    {{ profession.name }}
                </a>
            </li>
            {% endfor %}
        </ol>
        <p>
            Click on below to show all professions detailed on this page.
        </p>
        <a href=""></a>
    </section>

    

{% endblock %}