<!DOCTYPE html>

<!--
  ______.______      _______     ___  .___________._______ _______   .______  ____    ____   ________  __ .__   __.  ______  
 /      |   _  \    |   ____|   /   \ |           |   ____|       \  |   _  \ \   \  /   /  |       / |  ||  \ |  | /  __  \ 
|  ,----|  |_)  |   |  |__     /  ^  \`---|  |----|  |__  |  .--.  | |  |_)  | \   \/   /   `---/  /  |  ||   \|  ||  |  |  |
|  |    |      /    |   __|   /  /_\  \   |  |    |   __| |  |  |  | |   _  <   \_    _/       /  /   |  ||  . `  ||  |  |  |
|  `----|  |\  \----|  |____ /  _____  \  |  |    |  |____|  '--'  | |  |_)  |    |  |        /  /----|  ||  |\   ||  `--'  |
 \______| _| `._____|_______/__/     \__\ |__|    |_______|_______/  |______/     |__|       /________|__||__| \__| \______/ 

-->                              

<html>
    <head>
        {% block head %}
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <meta charset="UTF-8">
            <title>{% block title %}{% endblock %}</title>
            <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
            {% block csslink %}{% endblock %}
            {% block jslink %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                <nav class="navbar">

                    <a href="/">
                        <img src="{{ url_for('static', filename='images/cashflow-logo.png') }}" 
                            alt="CashFlow Logo" 
                            id="logo">
                    </a>

                    <div id="placeholder"></div>

                    <a href="https://www.amazon.de/-/en/CASHFLOW-Investing-Kiyosaki-Updated-Version/dp/B0141IEJLW" 
                        class="button navBtn" 
                        id="buygame">
                        BUY THE GAME
                    </a>

                    <a href="{{ url_for('simple_pages.get_faq') }}" 
                        class="button navBtn" 
                        id="faq">
                        F.A.Q.
                    </a>

                    <div class="dropdown">
                        <a href="{{ url_for('users.get_account') }}">
                            
                            <img src="{{ url_for('static', filename='images/user.png') }}" 
                            alt="Profile Picture" 
                            id="profilePic">
                            
                            <div class="dropdown-content">
                                {% if current_user.is_authenticated %}
                                    <a href="{{ url_for('users.get_logout') }}" 
                                        class="button navBtn" 
                                        id="logout">
                                        LOG OUT
                                    </a>
                                {% endif %}
                                {% if not current_user.is_authenticated %}   
                                    <a href="{{ url_for('users.get_login') }}" 
                                        class="button navBtn" 
                                        id="login">
                                        LOG IN
                                    </a>
                                {% endif %}
                                {% if not current_user.is_authenticated %}
                                    <a href="{{ url_for('users.get_signup') }}" 
                                        class="button navBtn" 
                                        id="signup">
                                        SIGN UP
                                    </a>
                                {% endif %}
                            </div>
                        </a>
                    </div>

                </nav>

            </header>

            <hr>

            {% with messages = get_flashed_messages() %} 
                {% if messages %}
                    {% for message in messages %}
                        <span class="flashed">
                            {{ message }}
                        </span>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <main>
                {% block main %}
                {% endblock %}
            </main>

            <hr>

            <footer>

                <span id="legal">
                    <a class="legalLink" href="{{ url_for('simple_pages.get_imprint') }}">
                        Imprint</a>
                    <span>|</span>
                    <a class="legalLink" href="{{ url_for('simple_pages.get_privacy') }}">
                        Privacy Policies</a>
                </span>

            </footer>
        {% endblock %}
    </body>
</html>