{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Cashflow - Login{% endblock %}

{% block main %}

<div class="container">
    <h1>
        Log In
    </h1>
    <p>
        You can log in to save and look up your recent gameplays.
    </p>
    <ul>
        <li>
            <input type="text" placeholder="Username">
        </li>
        <li>
            <input type="text" placeholder="Password">
        </li>
    </ul>
    <button>
        Log In
    </button>
</div>

{% endblock %}