{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/playing_job.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Plaing the game{% endblock %}

{% block main %}

<div class="content">
    <section class="content_head">
        <h1>
            <span id="your_profession">
                Your profession is
            </span>
            <span id="profession">
                {{ jobs[job]["name"] }}
            </span>
            <p id="goal">
                Goal: Build your <strong>Passive Income</strong> to be greater than your <strong>Total Expenses</strong>.
            </p>
        </h1>
    </section>
    <section class="content_body">
        <h2 id="text_income_statment">
            INCOME STATEMENT
        </h2>
        <div class="overview" id="income">
            <h3>
                Income
            </h3>
            <table>
                <tr>
                    <td>
                        Salary: 
                    </td>
                    <td class="numbers">
                        {{ jobs[job]["salary"] }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="overview" id="expenses">
            <h3>
                Expenses
            </h3>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Taxes: 
                        </td>
                        <td class="numbers">
                            {{ jobs[job]["tax"] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Home Mortgage Payment: 
                        </td>
                        <td class="numbers">
                            {{ jobs[job]["home_mortgage_payment"] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            School Loan Payment: 
                        </td>
                        <td class="numbers">
                            {{ jobs[job]["school_loan_payment"] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Car Loan Payment: 
                        </td>
                        <td class="numbers">
                            {{ jobs[job]["car_loan_payment"] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Credit Card Payment: 
                        </td>
                        <td class="numbers">
                            {{ jobs[job]["credit_card_payment"] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Other Expenses: 
                        </td>
                        <td class="numbers">
                            {{ jobs[job]["other_expenses"] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bank Loan Payment: 
                        </td>
                        <td class="numbers">
                            {{ jobs[job]["bank_loan_payment"] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 id="text_balance_sheet">
            BALANCE SHEET
        </h2>
        <div class="overview" id="assets">
            <h3>
                Assets
            </h3>
            <table>
                <tr>
                    <td>
                        Savings: 
                    </td>
                    <td class="numbers">
                        {{ jobs[job]["savings"] }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="overview" id="liabilities">
            <h3>
                Liabilities
            </h3>
            <table>
                <tr>
                    <td>
                        Home Mortgage: 
                    </td>
                    <td class="numbers">
                        {{ jobs[job]["home_mortgage_payment"] }}
                    </td>
                </tr>
                <tr>
                    <td>
                        School Loans:
                    </td>
                    <td class="numbers">
                        {{ jobs[job]["school_loans"] }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Car Loans: 
                    </td>
                    <td class="numbers">
                        {{ jobs[job]["car_loans"] }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Credit Card Debt: 
                    </td>
                    <td class="numbers">
                        {{ jobs[job]["credit_card_debt"] }}
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <div class="calc">
        <div class="num_box thin">
            {{ jobs[job]["salary"] }}
        </div>
        <div class="num_box thick">
            {{ jobs[job]["cashflow"] }}
        </div>
        <div class="num_box thin">
            {{ jobs[job]["salary"] }} <!-- calc all income !! -->
        </div>
        <div class="num_box thick">
            {{ jobs[job]["tax"] }} <!-- calc all expenses !! -->
        </div>
        <div class="num_box dotted">
            {{ jobs[job]["payday"] }}
        </div>
        <span id="monthly_text">
            Monthly Cash Flow
        </span>
    </div>
</div>
    
{% endblock %}