{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/playing_job.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Plaing the game{% endblock %}

{% block main %}

    <section>
        <h1>
            Welcome!
        </h1>
        <p>
            You chose to play the Cashflow Board game. The first step is to select a job. This is very important because it sets you up with a specific income and expenses.
        </p>
        <select name="jobs" id="lang">
            {% for job, properties in jobs.items() %}
                <option value="{{ job }}">{{ properties["name"] }}</option>
            {% endfor %}
        </select>
    </section>

    

{% endblock %}